* {
    appearance: none;
    margin: 0;
    padding: 0;
}

.blevins-image {
  width: 33vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}



.top-text {
    position: relative;
    margin-left: 40vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sign-up-form {
    position: relative;
    margin-left: 40vw;
    margin-bottom: 100px;
}

.bottom-text {
    position: relative;
    margin-left: 40vw;
}