* {
    appearance: none;
    margin: 0;
    padding: 0;
}

.blevins-image {
  width: 33vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 1;
}

.logo {
  position: absolute;
  height: 25%;
  width: auto;
  z-index: 2;
  margin-top: 40vh;
  margin-left: 120px;
  object-fit: cover;
}

.top-text {
    position: relative;
    margin-left: 40vw;
    padding-top: 50px;
    padding-bottom: 50px;
}


.sign-up-form {
    margin-bottom: 50px;
    background-color: #e5e7eb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40vw;
    box-shadow: 5px 10px 10px lightgrey;
  /* 5px horizontal, 10px vertical, 10px blur, black color with 50% opacity */
}

.form-row {
    padding: 10px;
}

label {
    display: block;
    margin-top: 5px;
}

.bottom-text {
    position: relative;
    margin-left: 40vw;
}

.create-account {
    margin-bottom: 50px;
}

.photo-credit {
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 150px;
    margin-top: 50px;
}